<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="scheduler_redis_server" value="127.0.1:6379"/>
    <add key="scheduler_redis_dbIndex" value="10"/>
    <add key="scheduler_redis_jobIdQueue_name" value="jobidqueue"/>
    <add key="scheduler_redis_jobHash_name" value="jobhash"/>
    <add key="scheduler_redis_jobIdSet_processing_name" value="jobidset"/>
  </appSettings>
</configuration>
